<script>
	import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
	import ContextBrowser from '../components/ContextBrowser/ContextBrowser.svelte';
</script>

<Meta title="Tidigit/Contexts/ContextBrowser" component={ContextBrowser} />

<Template let:args>
	<ContextBrowser />
</Template>

<Story name="nothing" />
