<script>
	import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
	import Context from '../components/Context/Context.svelte';
</script>

<Meta title="Tidigit/Contexts/Context" component={Context} />

<Template let:args>
	<Context />
</Template>

<Story name="nothing" />
